// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

// scss-docs-start theme-color-variables
$primary:       #5265E1 !default;
$secondary:     #FA5959 !default;


// scss-docs-end theme-color-variables
$enable-shadows: true;

// scss-docs-start box-shadow-variables
$box-shadow:                  0 .5rem 1rem rgba(#000000, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba(#000000, .075) !default;
$box-shadow-lg:               0 5rem 5rem rgba(#000000, 1.175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba(#000000, .075) !default;
// scss-docs-end box-shadow-variables

$component-active-color:      #FFFFFF !default;
$component-active-bg:         #5265E1 !default;

//accordion button colors
$accordion-button-icon:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#5267DF' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#FA5959' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");


p {
    color: gray;
}
footer > a {
    color: white;
}
footer > li > a:hover {
    color: #FA5959;
}
a#btn-1:hover{
    color: #FA5959;
}
a.nav-link:hover{
    color: #FA5959;
}
button#btn-1:hover {
    color: #FA5959;
}
a#btn-2 {
    color: white;
}
a#btn-2:hover {
    color: #FA5959;
    border: #FA5959;
    background-color: white;

}
#btn-3:hover {
    color: #5265E1;
    border: #5265E1;
    background-color: white;
}
#btn-4:hover {
    color: black;
    border: black;
    background-color: white;
}
a#btn-5 {
    color: white;
}
a#btn-5:hover {
    color: #FA5959;
}
button#nav-profile-tab:hover {
    color: #FA5959;
}
button#nav-contact-tab:hover {
    color: #FA5959; 
}
button#nav-home-tab:hover {
    color: #FA5959; 
}
footer > a {
    color: #FFFFFF;
}
path:hover {
    fill: #FA5959;
}
//shadow height: 100%; width: 100%; border-bottom-left-radius: 25%;


//variables form input invalid
// scss-docs-start form-feedback-variables

$form-feedback-font-style:          white !default;
$form-feedback-invalid-color:       #FA5959 !default;


$form-feedback-icon-invalid-color:  #FA5959 !default;
$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;
// scss-docs-end form-feedback-variables


//per canviar el @media sense posar-lo al html
/*@media (min-width: 992px) {
    .alt-100 {
        height: 100vh;
    }
}*/
/*per canviar el maxim del container que volem si no volem el estandar que miximita
$container-max-widhts: (
    sm: 540px,
    md: 720px,
    lg: 960,
    xl: 960px,
    xxl: 960px
);*/

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

