// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

// scss-docs-start theme-color-variables
$primary:       #5265E1 !default;
$secondary:     #FA5959 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables
$enable-shadows: true;

// scss-docs-start box-shadow-variables
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 5rem 5rem rgba($primary, 1.175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
// scss-docs-end box-shadow-variables

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

#btn-1:hover {
    color: red;
}
#btn-2:hover {
    color: red;
    border: red;
    background-color: white;
}
#btn-3:hover {
    color: #5265E1;
    border: #5265E1;
    background-color: white;
}
#btn-4:hover {
    color: black;
    border: black;
    background-color: white;
}
button#nav-profile-tab:hover {
    color: red;
}
button#nav-contact-tab:hover {
    color: red; 
}
#img-1 {
    color: white;
}



//per canviar el @media sense posar-lo al html
/*@media (min-width: 992px) {
    .alt-100 {
        height: 100vh;
    }
}*/
/*per canviar el maxim del container que volem si no volem el estandar que miximita
$container-max-widhts: (
    sm: 540px,
    md: 720px,
    lg: 960,
    xl: 960px,
    xxl: 960px
);*/

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
#btn-1:hover {
    color: red;
}
#btn-2:hover {
    color: red;
    border: red;
    background-color: white;
}
#btn-3:hover {
    color: #5265E1;
    border: #5265E1;
    background-color: white;
}
#btn-4:hover {
    color: black;
    border: black;
    background-color: white;
}
button#nav-profile-tab:hover {
    color: red;
}
button#nav-contact-tab:hover {
    color: red; 
}
#img-1 {
    color: white;
}
