// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

// scss-docs-start theme-color-variables
$primary:       #5265E1 !default;
$secondary:     #FA5959 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables
$enable-shadows


//per canviar el @media sense posar-lo al html
/*@media (min-width: 992px) {
    .alt-100 {
        height: 100vh;
    }
}*/
/*per canviar el maxim del container que volem si no volem el estandar que miximita
$container-max-widhts: (
    sm: 540px,
    md: 720px,
    lg: 960,
    xl: 960px,
    xxl: 960px
);*/

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
